body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  background-image: url('https://plus.unsplash.com/premium_photo-1756383544375-2705f502b1e8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fGZ1bm55JTIwaW1hZ2VzfGVufDB8fDB8fHww');
  background-size: cover;
  background-position: center;
}

.container {
  background: white;
  padding: 3rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 350px;
}

button {
  padding: 12px 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin: 0 10px;
}

#yesBtn {
  background-color: #23d5ab;
  color: white;
}

#noBtn {
  background-color: #ff5252;
  color: white;
  position: fixed; /* Key for moving across entire screen */
  z-index: 999;
  transition: 0.1s;
}

#gifContainer img {
  width: 100%;
  border-radius: 10px;
}